
body {
    font-family: serif, sans-serif;
    margin: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


form {
    background-image:url(nature\ \(2\).jpg);
    position:relative;
    max-width: 300px;
    /* margin: -1px auto; */
    background-color: rgb(249, 251, 252);
    margin-left:auto;
    margin-right: auto;
    margin-top: auto;
    background-position: center;
    padding: 100px;
    /* padding-right: 500px; */
    /* padding-left: 500px; */
    font-size: 30px;
    visibility:visible;

     

  

}
/* #marksform{
    color:#f3f5f3;
} */

label {
    display:grid;
    margin-bottom: 105px;
    text-transform: uppercase;
    font-size: 10px;
    padding-left: 10px;
    letter-spacing: 2px;
    padding-top: 20px ;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    /* text-wrap:wrap;            */
    /* margin-left: 50px; */
}
input {
    width: 92%;
   overflow:hidden;
    padding: 10px;
    border-radius:0%;
    border-style:dashed;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-radius: 20px;
    color: rgb(12, 12, 12);
    box-sizing:unset;
}

 button{
        width: 92%;
       overflow:hidden;
        padding: 10px;
        border-radius:0%;
        border-style:dashed;
        margin-bottom: 5px;
        box-sizing: border-box;
        border-radius: 20px;

        color: rgb(243, 245, 241);
        box-sizing:unset;
        background-color: #4CAF50;
    
    
    

}

h2, h3, h4, h5, h6 {
    color: #fdf8f8;
    text-align: center; 
    
    
}

h2{
    text-transform: uppercase;
    color: #060606;
    font-size: 50px;
}
h3{
    color: #0af668;
}
h4{
    color: #080808; 
    font-weight: 200;
    font-style: italic;
}

h2:nth-of-type(2) { 
    font-size: 1.2em;
    text-transform: uppercase;
}

h6 span { 
    font-size: 18px; 
}

.logo-container {
    text-align: center; 
}

.logo-container img {
    margin: 0 10px; 
    width: 30px; 
    height: auto;
}
.copyright {
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 2px 3;
    text-align: center;
}
